[Unit]
Description=Run Sofascore Mobile Proxy Watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=sofascore-mobile-proxy-watchdog.service

[Install]
WantedBy=timers.target
